@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(https://db.onlinewebfonts.com/c/ef3aab6eae44b00ed09594544784e6d8?family=Axiforma+Regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-f {
  font-family: "Inter", serif;
}

@font-face {
  font-family: "Axiforma-r";
  src: url("./fonts/Axiforma-Regular.ttf");
}

.font-axiforma-r {
  font-family: "Axiforma-r", sans-serif;
}
@font-face {
  font-family: "Axiforma";
  src: url("./fonts/Axiforma-Medium.woff");
}

.font-axiforma {
  font-family: "Axiforma", sans-serif;
}

.slider-track {
  display: flex;
  white-space: nowrap;
  animation: scroll var(--marquee-speed) linear infinite;
}

video {
  height: auto;
  max-width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  .homepage-hero-container {
    max-width: 1440px;
  }
}

@media (max-width: 768px) {
  .homepage-hero-container {
    max-width: 768px;
  }
}

@media (max-width: 640px) {
  .homepage-hero-container {
    max-width: 640px;
  }
}

.homepage-hero__lozenge {
  background: #fff;
  border-bottom-right-radius: 600px;
  border-top-right-radius: 600px;
  height: 100%;
  left: -80px;
  position: absolute;
  top: 0;
  width: calc(100% + 80px);
}

@media (min-width: 1661px) {
  .homepage-hero__lozenge {
    left: -180px;
    width: 780px;
  }
}

@media (min-width: 1441px) and (max-width: 1660px) {
  .homepage-hero__lozenge {
    left: calc(560px - 50vw);
    width: calc(100% - 560px + 50vw);
  }
}

/* bubble */
.horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  background-color: white;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.vertical-line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  background-color: white;
  height: 0;
  opacity: 0; /* Hide initially */
  transition: height 0.3s ease-in-out, opacity 0s linear 0.4s; /* Delay opacity change */
}

@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 100px; /* Adjust based on your design */
  }
}

@keyframes growHeight {
  from {
    height: 0;
  }
  to {
    height: 70px; /* Adjust based on your design */
  }
}

.animate-horizontal {
  animation: growWidth 0.4s ease-in-out forwards;
}

.animate-vertical {
  animation: growHeight 0.4s ease-in-out 0.2s forwards; /* Ensure vertical animation starts after horizontal */
  opacity: 1; /* Make visible once animation starts */
}
